



@media screen and (min-width: 1920px) {
    .navi .navi-list{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-left: -32px;
        margin-right: -32px;
        
        
    }
    
  }
.navi-item{
    padding-left: 32px;
    color: #fff;

}
.navi-link{
    color: #FFF;
    leading-trim: both;
    text-edge: cap;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.navi-link:hover{
    background-color: #fff;
    color: #E24413;;
}